html {
    min-height: 100%;
    height: 100%;
    /* background: #ffffff url(../images/bg.jpg); */
    background: #ffffff url(https://images.unsplash.com/photo-1449168013943-3a15804bb41c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=1958d4bfb59a246c6092ff0daabd284b);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Helvetica, sans-serif;
    min-height: 100%;
    height: 100%;
    color: #fff;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 7%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.23) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 7%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.23) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 7%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.23) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#3b000000',GradientType=1 );
}

div.main,
div.container-fluid {
    background: -moz-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%);
}

    #logo-com-texto {
        width: 80%;
    }

    #logo-sem-texto {
        width: 185px;
    }

    h1, h2 {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 600;
        line-height: 1.50em;
        color: #ffffff;
        text-shadow: 2px 2px 10px #050505;
    }

    h1 {
        font-size: 55px;
    }

        /* If the screen size is 601px wide or more, set the font-size of <div> to 80px 
        @media screen and (min-width: 601px) {
            div.example {
            font-size: 80px;
            }
        }*/
        
        /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
        @media screen and (max-width: 600px) {
            h1 {
                font-size: 35px;
            }
        }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-family: 'Pacifico', cursive;
        font-weight: 400;
        font-size: 48px;
        color: #ffffff;
        line-height: 1.00em;
    }

    h4 {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.50em;
        color: #ffffff;
    }

    .icones-topo {
        color: rgb(209, 145, 25);
    }

    .seperate .input-group .form-control:first-child,
    .seperate .input-group-addon:first-child,
    .seperate .input-group-btn:first-child>.btn,
    .seperate .input-group-btn:first-child>.dropdown-toggle,
    .seperate .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    .form-control {
        background-color: rgba(255, 255, 255, 0.85);
    }
        #email {
            border: 1px solid #fff !important;
        }

        #subscribe-btn {
            background: transparent;
            border: 1px solid #fff !important;
            color: #fff;
        }

        #subscribe-btn:hover {
            background: rgba(255,255,255,0.2);
            color: #fff;
        }

    #privacy-policy-txt {
        display: inline-block;
        font-size: 11px;
    }

    #socialprofiles, a,
    #socialprofiles, a:hover {
        color: #fff;
        font-size: 1.5em;
    }